<a href="https://colab.research.google.com/github/carlomusolino/Python_Intro/blob/main/lesson1_2_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data types**

We have now seen how data is at the foundation of the coding endeavour, but not all data is created equal. In last section's example we dealt with integer numbers, but this is only one of the many data **types** that Python supports. Let us start, again, with an example:

In [3]:
a = 3
type(a)

int

In [4]:
b = 5.0
type(b)

float

In [5]:
c = "foo"
type(c)

str

The above are three of the most fundamental data types supported by Python: we have integer numbers, or **int**, floating point numbers, or **float** and strings (that is, sequences of characters delimited by quotation marks) or **str**. But what are data types and why do we need them? 

Whenever we assign a value to a variable in Python (using the assignment operator $=$) it automatically determines the type, or **class** to which that specific piece of data belongs. This tells Python what operations are well defined on that particular variable. For example, we can multiply two numbers by eachother:

In [6]:
a = 1.8
b = 0.5
a * b

0.9

But if we tried to do the same with two strings Python would (and definitely should) complain:

In [7]:
a = "foo"
b = "bar"
a*b

TypeError: ignored

We encountered the first (of many) errors in our programming career. We'll have much more to say about these in what follows, but for now suffice to say that when an error is raised during the execution of our code it means that we did something wrong, and the traceback that Python gives back to us should help us track it down and correct it.

Let's return to data classes. Some of the most fundamental data types that exist in Python are so called *container* classes: lists and tuples (and more, but we'll come back to these in a later chapter). Consider the following

In [8]:
mylist = [1,2,3,4,5]
type(mylist)

list

In [9]:
mytuple = ("foo",2.5,"bar",4)
type(mytuple)

tuple

It should be pretty self-evident why these are called containers: they *contain* a certain number of variables of any type within them. But how can we access data within a list or a tuple?

In [10]:
print(mylist[0])

1

In [11]:
print(mytuple[1])

2.5

In the previous code snippets we introduced two new things: the built-in function *print()* allows us to print whatever variable we pass it as argument to the screen. The square bracket syntax *list_name[index]* allows us instead to access a single element of a list by its index. It should be noted that indices in Python always start from $0$.

The main difference between tuples and lists is that we can always modify and/or extend a list, whereas a tuple is set in stone: once we define it we can no longer change its contents. See the example below

In [12]:
print(mylist)

[1, 2, 3, 4, 5]

In [13]:
mylist[0] = "foo"
print(mylist)

['foo', 2, 3, 4, 5]

In [14]:
print(mytuple)

('foo', 2.5, 'bar', 4)

In [15]:
mytuple[0] = 1
print(mytuple)

TypeError: ignored

Let us focus on lists from now on. A very useful built-in Python function is *len()*. It returns the length of any sequence-like data:

In [16]:
a = "foobar"
mylist = [1,2,3]

In [17]:
len(a)

6

In [18]:
len(mylist)

3

#**Types or classes? Variables or instances? Methods**

We said before that an alternative way of calling Python data types is classes, but why have two different names for the same thing? The reason lies at the heart of the Python programming paradigm. In fact, Python is, at its core, an Object Oriented Programming (OOP for short) language. In OOP, one relinquishes the concept of variables of a given type in favor the slightly more abstract notion of instances (or objects) of a given class. Classes can be default or user-defined, and all object of a certain class share a set of methods, that are either functions which can only be executed on instances of that class or pieces of data associated with each individual instance of that class. This is a rather brutal simplification of the OOP paradigm, and we'll definitely come back to the concept of classes in Python later on in the course. For now suffice to say that given an instance of a certain class that we'll generically call *instance_name* (this is to all intents and purposes a variable within Python) we can access the methods of the class via the syntax *instance_name.Method_Name(args)*. This will in general be the same as *Class_Name.Method_Name(instance_name,args)* but the first syntax is definitely the one to go for. Let us see this in practice with lists:

In [19]:
mylist = [ 1, 2, 3, 4]
mylist.append("foo")
print(mylist)

[1, 2, 3, 4, 'foo']

Here we used the *append* method, which is specific to the list class and is used to add an element at the end of a list. Just to see that the second syntax also works:

In [22]:
mylist = [1,2,3,4]
list.append(mylist,"foo")
print(mylist)

[1, 2, 3, 4, 'foo']