<a href="https://colab.research.google.com/github/carlomusolino/Python_Intro/blob/main/Module1/lesson1_3_Logical_Ops_Control_Stat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Logical Operators**

Before we can move on to more interesting topics, we need to briefly introduce Python's logical operators. Essentially, a logical operator acts on two variables and returns a *boolean* output value. Let us start with numerical comparison operators:

In [1]:
a = 1
b = 2 
c = 1
a == b, a == c, b > a, c < b, a >= c , a <= b, c != a

(False, True, True, True, True, True, False)

These are pretty self explanatory. We have.

1.   The *equal to* operator `==` ( not to be confused with the assignment operator `= `);
2.   The *greater/smaller than*` > < `operators;
3.   The *greater/smaller than or equal to* `>= <=` operators;
4.   And t*he not equal to* `!=` operator

Number 1. and 4. on the list also apply to non-numeric data types:

In [2]:
a = "foo"
b = "bar"
c = "foo"
a == c, b==a, b!=c

(True, False, True)

Then we have a very useful operator that can be used on container data types:

In [4]:
a = "foo"
b = ["a","foo",34]
c = [1,2,3]
a in b, a in c, 1 in c

(True, False, True)

Which tells us wether a certain piece of data appears within a given container. This pretty much wraps up the basics on logical operators, more advanced examples will be covered later on (probably...).

# **Control Flow Statements**

Usually, when we execute a Python script, each line of code is interpreted and executed starting from the top all the way to the bottom. This behaviour can be modified if an error occurs during the execution or if a control flow statement is present. These come in two essential types: **cycles**, where we execute a certain block of code (or a **suite**, in Python jargon) repetitively a certain number of times, and **branch** statements, where depending on a given condition different **suites** can be executed.
We'll start by considering conditional branching statements, but first, let us introduce some more terminology. Given a variable of a certain type, we can *cast* that variable into another type:

In [12]:
a = 1 
type(a)

int

In [17]:
a = str(a)
type(a)

str

Now, in conditional branch statements we deal with something that looks like this;

```
if condition_1 :
  suite_1
elif condition_2 :
  suite_2
.
.
.
else :
condition_N
```
We'll deal with the specifics in what follows, but for now what we need to understand is that whatever each `condition` is Python will cast it to a *boolean* value: *True* or *False*. Anything that is not the special value *None*, the number $0$, or an empty string or list will evaluate to *True*:

In [18]:
a = 1 
b = 1000.000
c = "foo"
d = None
e = []
f = "" 
g = 0

bool(a),bool(b),bool(c),bool(d),bool(e),bool(f),bool(g)

(True, True, True, False, False, False, False)

#**The if... else statement**